/* ------------- Background ------------- */
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

    background: #f1f3f9;  /* Soft modern grey */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ------------- Card ------------- */
.card {
    width: 600px;
    padding: 40px;
    border-radius: 18px;

    background: white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.08);

    animation: fadeUp 0.5s ease;
}

@keyframes fadeUp {
    from { opacity: 0; transform: translateY(25px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 8px;
    color: #333;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
    color: #666;
}

/* ------------- Grid ------------- */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.full {
    grid-column: span 2;
}

/* ------------- Input fields ------------- */
label {
    font-size: 14px;
    color: #444;
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 100%;
    padding: 12px;
    font-size: 15px;

    border-radius: 8px;
    border: 1px solid #d4d4d4;
    background: #fafafa;

    transition: 0.2s border;
}

input:focus, select:focus {
    border-color: #6c63ff;
    background: white;
    outline: none;
}

/* ------------- Button ------------- */
.btn {
    width: 100%;
    padding: 14px;
    margin-top: 22px;

    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #584df4;
}

/* ------------- Result Box ------------- */
.result-box {
    margin-top: 25px;
    padding: 18px;
    border-radius: 12px;
    background: #f7f7ff;
    border: 1px solid #d9d8ff;
}

.result {
    text-align: center;
    font-size: 18px;
    margin: 0;
}

.success { color: #1aa96b; }
.danger  { color: #d94b4b; }

.probability {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    color: #555;
}
